.Items {

}

.Items div.textContainer {
    display: flex;
}

.Items main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
}


.Item {
    margin: 0 auto;
    display: flex;
    padding: 15px 0 ;
}
.img {
    transition: all .5s ease-in;
    /*transform: scale(.7);*/
    /*height: 45% !important;*/
    transform: scale(.9);
}
.Item img:hover {
    transform:  scale(1.1);
}

.Item h2 {
    font-size: 1.5rem;
}

.title {

}
.desc {

}
.specList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
    text-decoration-color: black;
    background-color: #61dafb;
}
img {
    transition: all .5s ease-in;
    /*transform: scale(.7);*/
    /*height: 45% !important;*/
    transform: scale(.9);
}

.ModalItemBody {
    position: absolute;
    display: flex;
    height: auto;
    width: 80vw;
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 0;
    transition: all .5s;
    /*background-color: burlywood;*/
    overflow-y: scroll
}

/*.ModalBody::-webkit-scrollbar {*/
/*    width: 0;*/
/*    background-color: transparent;*/
/*}*/
/*.ModalBody {*/
/*    -ms-overflow-style: none;*/
/*    !*scrollbar-width: none;*!*/
/*}*/

.ModalHead {
    position: fixed;
    top: 0;
    right: 5%;
    left: 5%;
    z-index: 100;
    transform: scale(1.2);
    /*background-color: #525f7f;*/
    background-color: aqua;
    border-radius: 25px;
    width: 80%;
    /*padding: 10px;*/
    padding: 15px;
    margin: 10px auto;
}

.ModalHead img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
    border-radius: 15px;
    /*transition: scale ;*/
    transition: all .5s ease-in;
}

.ModalCaption {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    /*color: black;*/
    color: #525f7f;
    transform: scale(1.5)

}
.ModalCaption > p, h2, h3, h4 {
    font-size: 25px;
    font-weight: 600;
}

.ModalContentParent {
    position: relative;
    overflow: hidden;
}

.ModalContent {
    position: fixed;
    top: 8%;
    right: 0;
    left: 0;
    /*margin-top: 10px;*/
    margin: 0  auto;
    padding: 20px;
    border-radius: 15px;
    background: aqua;
    height: auto;
    /*width: 80vw;*/
    width: 98vw;
    overflow-y: scroll;
    bottom: 0 ;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}
.ModalContent ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}
.ModalContent {

}

/*.ModalContent {*/
/*    position: fixed;*/
/*    top: 8%;*/
/*    right: 0;*/
/*    left: 0;*/
/*    !* margin-top: 10px; *!*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    border-radius: 15px;*/
/*    background: aqua;*/
/*    height: 90vh;*/
/*    width: 80vw;*/
/*    width: 98vw;*/
/*    overflow-y: scroll;*/
/*    bottom: 0;*/
/*}*/

.ModalContent img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 80%;
    border-radius: 15px;
    /* transition: scale; */
    transition: all .5s ease-in;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
}
.ModalContent img:hover {
    /*border-radius: 15px;*/
}
.ModalContent p,li {
    color: black;
    text-decoration-color: black;
}

.description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5vh 3vw;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
    align-content: flex-start;
}

.specsList {
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
    text-decoration-color: black;
    color: #525f7f;
}

.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1vw;
}


.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    /*position: absolute;*/
    /*top: 70vh;*/
    /*right: 2vw;*/
    background: black;
}