.Items {

}

.Heading {
    margin: 4vh 0 !important;
    font-size: 40px !important;
    font-weight: bold !important;
}
.Items div.textContainer {
    display: flex;
}

.Items main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
}