.Modal {
    position: fixed;
    /*display: flex;*/
    opacity: 0;
    /*transform: scale(0) ;*/
    transform: translateY(-100vh);
    /*transform: translateY(0);*/
    transition: all .9s ease-in-out ;
    z-index: 1030;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*height: 100vh;*/
    background: rgba(0, 0, 0, .8);
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Modal.open {
    display: flex;
    transform: translateY(0);
    z-index: 1030;
    height: 100vh;
    opacity: 1;
    /*position: fixed;*/
    /*transform: scale(1);*/
    /*transition: all .8s ease-out ;*/
}

.Modal.close {
    z-index: -100;
    transform: translateY(100vh);
    transition: all .8s ease-out ;

}

.closeModal {
    position: fixed !important;
    display: block;
    top: 7px;
    right: 2%;
    height: 60px;
    width: 60px;
    border-radius: 50% !important;
    z-index: 100;
    /*opacity: 0;*/
    /*background-color: black !important;*/
}

.closeModal > svg {
    position: relative;
    height: 100%;
    width: 100%;
    /*fill: white;*/
    fill: #080303c4;
    border-radius: 50%;
    z-index: 1030;
    /*transform: scale(1);*/
    transform: scale(0.85);


}

.closeModal > svg:hover {
    /*fill: gold;*/
    fill: #61dafb;
    background-color: black;
    /*transform: scale(0.85);*/
    transform: scale(1.2);
}
.active {
    opacity: 1;

}


.ModalBody {
    position: absolute;
    display: flex;
    height: auto;
    /*width: 80vw;*/
    width: 100vw;
    top: 1%;
    /*left: 10%;*/
    /*right: 10%;*/
    bottom: 0;
    transition: all .5s;
    /* background-color: burlywood; */
    overflow-y: scroll;

}

.ModalBody::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
.ModalBody {
    -ms-overflow-style: none;
    /*scrollbar-width: none;*/
}


.description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5vh 3vw;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
    align-content: flex-start;
}

.title {

}
.desc {

}
.wrap {

}

@media screen and (max-width: 768px) {
    .closeModal {
        top: 70vh;
        height: 50px;
        width: 50px;
        right: 0;
    }
}