.App {
    margin: 10px auto;
    padding: 10px 0;
}


/*PageTransitions*/

.slideLeftEnter {
    transform: translateX(100%);
}

.slideLeftEnterActive {
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
}

.slideLeftExit {
    transform: translateX(0%);
}

.slideLeftExitActive {
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

.slideRightEnter {
    transform: translateX(-100%);
}

.slideRightEnterActive {
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
}

.slideRightExit {
    transform: translateX(0%);
}

.slideRightExitActive {
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}


/*first*/

.slideInRight {
    opacity: 0;
    transform: translateX(100%);
}

.slideInLeft {
    opacity: 0;
    transform: translateX(-100%);
}

.enterActive {
    opacity: 1;
    transform: translateX(0%);
    transition: all 500ms;
}

.slideOutLeft {

}

.slideOutRight {

}

.exitActive {

}

.slideInRightEnter {
    transform: translateX(100%);
}

.slideInRightEnterActive {
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
}

.slideOutRightExit {
    transform: translateX(0);
}

.slideOutRightExitActive {
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

.slideInLeftEnter {
    transform: translateX(-100%);
}

.slideInLeftEnterActive {
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
}

.slideOutLeftExit {
    transform: translateX(0);
}

.slideOutLeftExitActive {
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}

/* Enter transition */

/*.pageEnterRightEnter {*/
/*    opacity: 0;*/
/*    transform: translateX(100%);*/
/*}*/

/*.pageEnterRightEnterActive {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*    transition: all 500ms;*/
/*}*/

/*.pageEnterLeftEnter {*/
/*    opacity: 0;*/
/*    transform: translateX(-100%);*/
/*}*/

/*.pageEnterLeftEnterActive {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*    transition: all 500ms;*/
/*}*/

/*!* Exit transition *!*/

/*.pageEnterRightExit {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*}*/

/*.pageEnterRightExitActive {*/
/*    opacity: 0;*/
/*    transform: translateX(-100%);*/
/*    transition: all 500ms;*/
/*}*/

/*.pageEnterLeftExit {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*}*/

/*.pageEnterLeftExitActive {*/
/*    opacity: 0;*/
/*    transform: translateX(100%);*/
/*    transition: all 500ms;*/
/*}*/
/*.pageEnterRightEnter {*/
/*    opacity: 0;*/
/*    transform: translateX(100%);*/
/*}*/

/*.pageEnterRightEnterActive {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*    transition: all 500ms;*/
/*}*/

/*.pageEnterLeftEnter {*/
/*    opacity: 0;*/
/*    transform: translateX(-100%);*/
/*}*/

/*.pageEnterLeftEnterActive {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*    transition: all 500ms;*/
/*}*/

/*!* Exit transition *!*/
/*.pageEnterRightExit {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*}*/

/*.pageEnterRightExitActive {*/
/*    opacity: 0;*/
/*    transform: translateX(-100%);*/
/*    transition: all 500ms;*/
/*}*/

/*.pageEnterLeftExit {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*}*/

/*.pageEnterLeftExitActive {*/
/*    opacity: 0;*/
/*    transform: translateX(100%);*/
/*    transition: all 500ms;*/
/*}*/



/*first*/


/*left-right*/


/*.pageEnterRightEnter {*/
/*    opacity: 0;*/
/*    transform: translateX(100%);*/
/*}*/

/*.pageEnterRightEnterActive {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;*/
/*}*/

/*.pageEnterLeftEnter {*/
/*    opacity: 0;*/
/*    transform: translateX(-100%);*/
/*}*/

/*.pageEnterLeftEnterActive {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;*/
/*}*/

/*!* Exit *!*/

/*.pageEnterRightExit {*/
/*    opacity: 1;*/
/*    transform: translateX(0%);*/
/*}*/

/*.pageEnterRightExitActive {*/
/*    opacity: 0;*/
/*    transform: translateX(-100%);*/
/*    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;*/
/*}*/

/*.pageEnterLeftExit {*/
/*    opacity: 1;*/
/*    transform: translateX(0%)*/
/*}*/

/*.pageEnterLeftExitActive {*/
/*    opacity: 0;*/
/*    transform: translateX(100%);*/
/*    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;*/
/*}*/

/*left-right*/

/*like-carousele*/

/*.carouselTransitionLeftEnter {*/
/*    transform: translateX(100%);*/
/*}*/

/*.carouselTransitionLeftEnterActive {*/
/*    transform: translateX(0%);*/
/*    transition: transform 500ms ease-in-out;*/
/*}*/

/*.carouselTransitionLeftExit {*/
/*    transform: translateX(0%);*/
/*}*/

/*.carouselTransitionLeftExitActive {*/
/*    transform: translateX(-100%);*/
/*    transition: transform 500ms ease-in-out;*/
/*}*/

/*.carouselTransitionRightEnter {*/
/*    transform: translateX(-100%);*/
/*}*/

/*.carouselTransitionRightEnterActive {*/
/*    transform: translateX(0%);*/
/*    transition: transform 500ms ease-in-out;*/
/*}*/

/*.carouselTransitionRightExit {*/
/*    transform: translateX(0%);*/
/*}*/

/*.carouselTransitionRightExitActive {*/
/*    transform: translateX(100%);*/
/*    transition: transform 500ms ease-in-out;*/
/*}*/

/*like-carousele*/



/*PageTransitions*/